<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="text/html" />
</head>
<body>
  <h1>Your flight is booked</h1>
  <p>Please check the details of the flight below.</p>

  <h2>Passenger details</h2>
  <p><strong>Name:</strong> <%= @passenger.name %></p>
</body>
</html>